[submodule "deps/Kvasir"]
	path = deps/Kvasir
	url = git@github.com:kvasir-io/Kvasir.git
[submodule "deps/chip"]
	path = deps/chip
	url = https://github.com/kvasir-io/chip
	branch = development
[submodule "deps/bit"]
	path = deps/bit
	url = git@github.com:kvasir-io/bit.git
[submodule "deps/mpl"]
	path = deps/mpl
	url = git@github.com:kvasir-io/mpl.git
